<div class="container-pp">

    <section class="principal">
        <img class="logo" src="../assets/logo.svg" alt="algo...">

        <div class="buttons">
            <a href="https://www.iandc.baquipex.cl" class="button">Inventory & Control</a>
            <span class="line-sep"></span>
            <a href="https://www.fj.baquipex.cl" class="button">Portafolio</a>
            <span class="line-sep"></span>
            <a href="https://www.ayudas.baquipex.cl" class="button">Informe Ayudas</a>
        </div>
    </section>

    <div class="container-contact d-none">
        <button class="contact"><span class="fas fa-phone"></span>&nbsp;&nbsp;Contáctanos...</button>
    </div>
    

</div>



